body {
  background-color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 2.6em;
  color: #737373;
  margin-top: 10px;
}
.btn-fb {
  width: 100%;
  height: 80px; 
}

.title{
  margin-bottom: auto;
  margin-top: auto;
}

.left-side {
  padding-left: 0px;
  border-right: 1px dotted rgb(150, 150, 150);
}

.right-side {
  padding-left: 0px;
}

span.name{
  color: rgb(255, 0, 0);
}

span.score{
  font-size: 36px;
  font-weight: bold;
}

.query {
  font-size: 20px;
}

.hits {
  font-weight: bold;
}

.love {
  color: #ffaaaa;
}

ul.bdays {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img.thumb {
  height: 170px;
  width: 170px;
  border: 1px solid rgb(70, 70, 70);
  border-radius: 1px;
  margin-bottom: 5px;
  margin-right: 10px;
}

img.fb-img {
  border: 1px dotted rgb(100, 100, 100);
  border-radius: 3px;
  max-height: 80px;
}

img.mining {
  height: 400px;
  width: 400px;
  border: 2px solid rgb(70, 70, 70);
  border-radius: 3px;
}

.born-on {
  text-align: center;
}

.tile {
  position: relative;
  width: 100%;
}

.tile h4.name { 
   position: absolute; 
   top: 0px; 
   left: 0; 
   width: 100%; 
}

.tile h4.hits { 
   position: absolute; 
   bottom: 0px;
   right: 0;
   width: 100%; 
}

.tile h4 span { 
   color: white; 
   /*font: bold 24px/45px Helvetica, Sans-Serif; */
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding-top: 7px;
   padding-bottom: 3px; 
   padding-left: 5px;
   padding-right: 5px;
}