
<!-- Contains the client side configuration -->
<script type="text/javascript">
  window.FACEBOOK_APP_ID = <%= ENV['FACEBOOK_APP_ID'] %>;
  window.HOSTNAME = "<%= ENV['HOSTNAME'] %>";
  window.document.title = "BB in " + window.HOSTNAME;
</script>