<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BirthdayBattleEmber</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{BASE_TAG}}

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="assets/vendor.css">
    <link rel="stylesheet" href="assets/birthday-battle-ember.css">

    <!-- local client config, to be overwritten unless ember s -->
    <script type="text/javascript">
      window.FACEBOOK_APP_ID = "738143532891659";
      window.HOSTNAME = "localhost"; 
    </script>
  </head>
  <body>
    <script>
      window.BirthdayBattleEmberENV = {{ENV}};
      window.EmberENV = window.BirthdayBattleEmberENV.EmberENV;
    </script>
    <script src="assets/vendor.js"></script>
    <script src="assets/birthday-battle-ember.js"></script>
    <script>
      window.BirthdayBattleEmber = require('birthday-battle-ember/app')['default'].create(BirthdayBattleEmberENV.APP);
    </script>
  </body>
</html>
