
<div class="container-fluid">

  <div class="row">

    <div class="col-md-offset-1 col-xs-5">
      <h3 class="title">
      &#123;&#123;
      {{#link-to 'birthday'}}
      <span class="name">birthday battle</span>
      {{/link-to}}
      &#125;&#125;
      </h3>
      <h6> made with <span class="love">love</span> by <a href="https://github.com/maxwerr">@maxwerr</a> </h6>
      <h6> respecting your {{#link-to 'privacy'}}privacy{{/link-to}}</h6>
    </div>

    <div class="col-xs-2">
      {{#if user.first_name}}
        <img {{bind-attr src='user.img'}} class="pull-right fb-img">            
      {{/if}}
    </div>

    <div class="col-md-3 col-xs-4">
      {{#if user.first_name}}
        <button class="btn btn-danger btn-fb" {{action 'logout'}}>
          <strong class="pull-left">f</strong>
          {{user.first_name}} logged in
        </button>
      {{else}}
        <button class="btn btn-primary btn-fb" {{action 'login'}}>
          <strong class="pull-left">f</strong>
          Login
        </button>
      {{/if}}
    </div>

  </div>
  <div class="row">
    <div class="col-md-offset-1 col-md-10 col-xs-12">
      <hr>
    </div>

    {{outlet}}

  </div>
</div>