<div class="col-md-offset-1 col-md-5 col-xs-6 left-side">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12"> 
        <h3 class="born-on">Today's Birthday Score: <span class="score">{{today_score}}m</span></h3>
      </div>
    </div>
    <div class="row">
      {{#each content}}
        <a {{bind-attr href=search_url}}>
          <div class="col-sm-4">
            <div class="tile">
              <img {{bind-attr src=image_url}} class="thumb">
              <h4 class="name"><span>{{name}}</span></h4>
              <h4 class="hits"><span>{{pretty_hits}}</span></h4>
            </div>
          </div>
        </a>
      {{/each}}
    </div>
  </div>
</div>

<div class="col-md-5 col-xs-6">
  <div class="container-fluid right-side">
    
    {{#if month}}
      {{#if loading}}
        <div class="row"><img src="/images/mining.gif" class="mining"></div>
      {{else}}
        <div class="row">
          <div class="col-xs-12"></div>
            <h3 class="born-on">Your Score ({{month}}/{{day}}): <span class="score">{{facebook_score}}m</span></h3>
          </div>
          {{#each birthday_people}}
            <a {{bind-attr href=search_url}}>
              <div class="col-sm-4">
                <div class="tile">
                  <img {{bind-attr src=image_url}} class="thumb">
                  <h4 class="name"><span>{{name}}</span></h4>
                  <h4 class="hits"><span>{{pretty_hits}}</span></h4>
                </div>
              </div>
            </a>
          {{/each}}
        </div>
      {{/if}}
    {{else}}
      <div class="row">
        <button class="btn btn-success btn-fb" {{bind-attr disabled=playDisabled}} {{action 'getBirthday'}}>
          <h3>
          {{#if birthday}}
            PLAY {{birthday}}
          {{else}}
            Login first.
          {{/if}}
          </h3>
        </button>
      </div>
    {{/if}}

  </div>
</div>