<div class="col-md-offset-1 col-md-5 col-xs-6">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-6">
        <h1>Processing today's birthdays...</h1>
      </div>
    </div>
  </div>
</div>