<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Birthday Battle</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <base href="/" />

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="ember-assets/vendor-d41d8cd98f00b204e9800998ecf8427e.css">
    <link rel="stylesheet" href="ember-assets/birthday-battle-ember-53a2d2c8ccf0f87c61dc2b847f6a24e4.css">

    <!-- local client config, to be overwritten unless ember s -->
    <script type="text/javascript">
      window.FACEBOOK_APP_ID = "738143532891659";
      window.HOSTNAME = "localhost"; 
    </script>

  <%= csrf_meta_tags %></head>
  <body><%= yield %>
    <script>
      window.ENV = {"baseURL":"/","locationType":"auto","FEATURES":{},"APP":{}};
    </script>
    <script src="ember-assets/birthday-battle-ember-114cf39c351eb84123c451a0102715c1.js"></script>
    <script>
      window.GoToFindEmber = require('birthday-battle-ember/app')['default'].create(ENV.APP);
    </script>
  </body>
</html>
